<header id ="logo">
<i class="fa fa-leaf fa-lg" aria-hidden="true"></i><h1> repose </h1>
<nav>
  <% if signed_in? -%>
    <%= button_to t(".sign_out"), sign_out_path, method: :delete %>
  <% else -%>
    <%= link_to t(".sign_in"), sign_in_path %>
  <% end -%>
</nav>

</header>