
<div class="jumbotron cover-image img-responsive">
	<div class="container text-center">
		<h1>Get the upper hand on your anxiety</h1>
		<h2>Repose empowers you by helping you track your moments of stress and uncertainty.</h2>
	</div>
</div>

<div class="container text-center">
	<div class="row vertical-divider">
		<h2>Understanding Anxiety</h2>
			<div class= "col-sm-4">
				<h3>When anxiety becomes panic</h3>
				<p>Everyone experiences anxiety. Whether because of a big exam or speech, these anxious feelings typically pass when the source of stress does. However, when these symptoms occur without any real danger, that’s when our anxiety elevates to panic.</p>
			</div>
			<div class= "col-sm-4">
				<h3>Natural Instinct</h3>
				<p>It's natural to experience anxiety. Our bodies interpret all threats as predators. When we experience anxiety our bodies react accordingly - sweating increases, breathing and heart rate speed up, etc. This response has kept us alive since the dawn of man.</p>
			</div>
			<div class = "col-sm-4">
				<h3>How panic works</h3>
				<p>Once we show symptoms of anxiety, the worst thing we can do is stress because of it. The fear of these symptoms feeds panic and actually increases our physical symptoms. But unmasking this fear is the first step towards recovery.</p>
			</div>
		</div>
</div>

<div id = "wrapper" class="container text-center">
	<div class="row vertical-divider">
	<h2>How Repose helps</h2>
		<div class="col-sm-4">
			<h3>Track</h3>
			<p>Awareness of the context in which anxiety might occur goes hand-in-hand with overcoming it. You can track and journal all of your experiences with Repose's powerful tools. Empower yourself to conquer your anxiety.</p>
		</div>
		<div class="col-sm-4">
			<h3>Breathe</h3>
			<p>Maintaining a regular breathing pattern will slow your heart rate and calm you down. Repose's expanding and contracting orb is a helpful breathing guide.</p>
		</div>
		<div class="col-sm-4">
			<h3>Connect</h3>
			<p>When anxiety strikes, often the greatest relief comes from speaking to friends and family. Repose allows you to define a set of contacts - and their availability - to have at your fingertips when panic sets in. Loved ones are only a tap away.</p>
		</div>
	</div>
	<br>
	<div class = "row vertical-divider">
		<div class="col-sm-4">
			<h3>Distract</h3>
			<p>A simple distraction can keep your anxiety from escalating to panic. Repose's Bubble Popper distracts your focus from frightening thoughts.</p>
		</div>
		<div class="col-sm-4">
			<h3>Affirm</h3>
			<p>Affirming statements help you overcome bad thoughts. Repose provides you with the positive encouragement to help keep you from spiralling.</p>
		</div>
		<div class="col-sm-4">
			<h3>Prepare</h3>
			<p>Give yourself a set of guidelines or suggestions to help you cope with your anxiety. Repose allows you to customize your experience, and write helpful suggestions for the future.</p>
		</div>
	</div>
</div>

<div class="container">
		<h2 class = "text-center">Why we built Repose</h2>
		<div class="-sm-6">
			<p>Panic attacks are common and can happen anywhere - in a meeting, at the supermarket, at a party, alone at home at night or in a crowd. But there's a lack of understanding about how to cope and gain relief from what can be terrifying symptoms. Panic attacks can be treated and your mind can be put to rest with the right tools. Repose is a way of putting those tools in your hands.Repose provides immediate access to tools that will help you cope in a panic attack. It also helps you learn about the way you experience anxiety. Understanding your experience is the first step to overcoming it. There is no "right" way to manage anxiety, and our aim is to provide the most customizable resource to assist you in finding <i>your</i> path to calm.</p>
		</div>
</div>

<footer class="container-fluid text-center">
  <p>Crafted with love by Adam B, Doug J, Joe D, Nick G, and Zaki A.<br>Chicago Goldenbears 2016</p>
</footer>
