<div class="owl-carousel">
	<div><%=image_tag("coursel")%></div>  <div><%=image_tag("relax-your-mind")%></div>  <div><%=image_tag("relaxation")%></div>
</div>


<div class="info">
	<div class="text-block">
		<h2 class="dash-trailing">This is Repose.</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<figure class="img-block">
			<i class="fa fa-mobile fa-6" aria-hidden="true"></i>
		</figure>
	</div>
</div>

<div class="info-2">
	<div class="text-block">
		<h2 class="dash-trailing">Get in touch with lifelines.</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<figure class="img-block">
		<i class="fa fa-medkit fa-6" aria-hidden="true"></i>
		</figure>
	</div>
</div>

<div class="info">
	<div class="text-block">
		<h2 class="dash-trailing">customize your relief modules</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<figure class="img-block">
		<i class="fa fa-cog fa-6" aria-hidden="true"></i>
		</figure>
	</div>
</div>
