<div class="owl-carousel">
	<div><%=image_tag("coursel")%></div>  <div><%=image_tag("relax-your-mind")%></div>  <div><%=image_tag("relaxation")%></div>
</div>


<div class="info">
	<div class="text-block">
		<h2 class="dash-trailing">This is Repose.</h2>
		<p>It is common to experience anxiety. Whether the cause is trying to meet an important deadline or preparing for an interview, these stresses typically subside at the conclusion of the event. However when the cause of these symptoms is unknown, the feeling of stress can escalate to a state of panic. In these moments, find Repose in your pocket to help lay your anxieties to rest.</p>
		</div>
		<figure class="img-block">
			<i class="fa fa-mobile fa-6" aria-hidden="true"></i>
		</figure>
	</div>
</div>

<div class="info-2">
	<div class="text-block">
		<h2 class="dash-trailing">Get in touch with lifelines.</h2>
		<p>A core feature of Repose is a feature to bring to your fingertips a list of available lifelines to call when panic sets in. This list can be tailored while in a calm state to indicate which contacts would be available at any given hour when a panic attack may occur. This list will be made available when a panic episode has begun, allowing for the dialing of preferred contacts to be a tap away.</p>
		</div>
		<figure class="img-block">
		<i class="fa fa-medkit fa-6" aria-hidden="true"></i>
		</figure>
	</div>
</div>

<div class="info">
	<div class="text-block">
		<h2 class="dash-trailing">Other features of Repose</h2>
		<p>People find relief from anxiety in different forms. That is why Repose provides a list of modules to choose from during a panic attack. Guided breathing, positive affirmations, and a safety checklist are other features available while suffering a panic attack.

		An optional retrospective form may be filled out detailing the intensity and sympotoms of the panic attack. The data from the episode with then be available on the user's secure profile page for review.</p>
		</div>
		<figure class="img-block">
		<i class="fa fa-cog fa-6" aria-hidden="true"></i>
		</figure>
	</div>
</div>
