
@import 'https://fonts.googleapis.com/css?family=Patrick+Hand+SC';

body {
	font-family: "Helvetica Neue";
	color: rgb(221, 235, 238);
	font-weight: lighter;
	font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: lighter;
}

footer {
	background-color: #darkblue;
	padding: 25px;
}

body {
	background: rgba(145,161,166,1);
	background: -moz-linear-gradient(-45deg, rgba(145,161,166,1) 0%, rgba(52,155,183,1) 59%, rgba(46,126,148,1) 85%, rgba(46,126,148,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(145,161,166,1)), color-stop(59%, rgba(52,155,183,1)), color-stop(85%, rgba(46,126,148,1)), color-stop(100%, rgba(46,126,148,1)));
	background: -webkit-linear-gradient(-45deg, rgba(145,161,166,1) 0%, rgba(52,155,183,1) 59%, rgba(46,126,148,1) 85%, rgba(46,126,148,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(145,161,166,1) 0%, rgba(52,155,183,1) 59%, rgba(46,126,148,1) 85%, rgba(46,126,148,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(145,161,166,1) 0%, rgba(52,155,183,1) 59%, rgba(46,126,148,1) 85%, rgba(46,126,148,1) 100%);
	background: linear-gradient(135deg, rgba(145,161,166,1) 0%, rgba(52,155,183,1) 59%, rgba(46,126,148,1) 85%, rgba(46,126,148,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91a1a6', endColorstr='#2e7e94', GradientType=1 );
}

.cover-image {
	background-image: image-url("hero-backpack.jpg");
	max-width: 100%;
	max-height: 100%;
	background-size: 100% 75%;
	padding-bottom: 10%;
	background-attachment: fixed;
}

.jumbotron {
	color: white;
}

#wrapper {
  border: 1px #e4e4e4 solid;
	padding: 20px;
	margin-top: 20px;
  border-radius: 4px;
  box-shadow: 0 0 6px #ccc;
}


.title {
	color: white;
	font-weight: lighter;
	// text-align: center;
	margin-left: 25px;
	display: inline;
	vertical-align: middle;
}

img {
	clear: left;
	margin-left: 25px;
	display: inline;
	padding-bottom: 10px;
	padding-top: 5px;
}

.row.vertical-divider {
  overflow: hidden;
}
.row.vertical-divider > div[class^="col-"] {
  text-align: center;
  padding-bottom: 100px;
  margin-bottom: -50px;
  border-right: 3px solid #F2F7F9;
}
.row.vertical-divider div[class^="col-"]:first-child {
  border-left: none;
}
.row.vertical-divider div[class^="col-"]:last-child {
  border-right: none;
}
