$simple-blue: #0d97ff;
$simple-font: 'Helvetica Neue';

@import "font-awesome";

body{
	font-family: $simple-font;
	color: black;
}

#logo{
	color: $simple-blue;
	height: 50px;
	width: 100%;
}

h1{
	display: inline-block;
	font-weight: normal;
}

h2{
	font-size: 2em;
}

i{
	margin-right: 5px;
}
nav{
	float: right;
	width: auto;
	display: inline-block;
	margin-top: 2em;
}

a{
	text-decoration: none;
	color: $simple-blue;
}

a:hover{
	color: white;
	background-color: $simple-blue;
}

input[type="submit"]{
	border:none;
	background-color: $simple-blue;
	color: white;
}

input[type="text"], input[type="password"], input[type="email"]{
	width: 50%;
	height: 2em;
}

#clearance{
	width: 75%;
	margin-left: auto;
	margin-right: auto;

}

#container{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.text-block{
	width: 50%;
	display: inline-block;
}

.text-block p{
	font-size: 1.5em;
}

.img-block{
	float: right;
	font-size: 21em;
	margin: 0;
}
.info{
	width: 100%;
	background-color:#fcfbf9;
}


.dash-trailing:after {
    background: #0d97ff;
    display: block;
    content: '';
    height: 4px;
    margin: 15px 0;
    width: 40px;
}
