/* Remove the navbar's default margin-bottom and rounded borders */
body {
	font-family: "Helvetica Neue";
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
	background-color: #f2f2f2;
	padding: 25px;
}

body {
	background: rgba(213,238,245,1);
	background: -moz-linear-gradient(-45deg, rgba(213,238,245,1) 0%, rgba(52,155,183,1) 59%, rgba(46,126,148,1) 85%, rgba(46,126,148,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(213,238,245,1)), color-stop(59%, rgba(52,155,183,1)), color-stop(85%, rgba(46,126,148,1)), color-stop(100%, rgba(46,126,148,1)));
	background: -webkit-linear-gradient(-45deg, rgba(213,238,245,1) 0%, rgba(52,155,183,1) 59%, rgba(46,126,148,1) 85%, rgba(46,126,148,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(213,238,245,1) 0%, rgba(52,155,183,1) 59%, rgba(46,126,148,1) 85%, rgba(46,126,148,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(213,238,245,1) 0%, rgba(52,155,183,1) 59%, rgba(46,126,148,1) 85%, rgba(46,126,148,1) 100%);
	background: linear-gradient(135deg, rgba(213,238,245,1) 0%, rgba(52,155,183,1) 59%, rgba(46,126,148,1) 85%, rgba(46,126,148,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5eef5', endColorstr='#2e7e94', GradientType=1 );
}

.cover-image {
	background-image: image-url("hero-backpack.jpg");
	background-size: 100% 100%;
	padding-bottom: 30%;
	background-color: #333e48;
	background-position: center center;
	opacity: .9;
	overflow: hidden;
}

.jumbotron {
	color: white;
}
